.userDetail-row1 {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 500px;
    margin-top: 20px;
}

.userDetail-profileUsername {
    font-size: 20px;
    font-weight: 400;
    margin-left: 70px;
    transform: translateY(-20%);
}

.userDetail-follow {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #4192EF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
}

.userDetail-row2 {
    display: flex; 
    flex-direction: row; 
    margin-top: 20px;
}

.userDetail-posts, .userDetail-followers, .userDetail-following {
    font-weight: 400;
    margin-left: auto;
}

.userDetail-posts {
    margin-left: 70px;
}

.userDetail-profileBio {
    margin-left: 70px;
    margin-top: 20px;
    font-weight: 400;
}