* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
    letter-spacing: 0.1px;
}

.header {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.content {
    /* width: 820px; */
    height: 475px;
    display: flex;
    flex-direction: row;
}

.select {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #0095f6;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 40% 30%;
    width: max-content;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.createImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 476px;
    height: 478px;
    object-fit: cover;
    border-radius: 0 0 0 20px;
    position: absolute;
    top: 0%;

}

.createAvatar {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 100px;
    margin-left: 20px;
}

.createUsername {
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
}

.postContent {
    width: 300px;
    height: 100%;
    border: none;
    outline: none;
    margin: 20px;
}

/* style.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup {
    background-color: #fefefe;
    width: 820px;
    height: 520px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    z-index: 101;
}