#rec1 {
    width: 350px;
    height: 408px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    border: 1.5px solid #CCC;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#rec2 {
    width: 350px;
    height: 63px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: 1.5px solid #CCC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#rec1 .logo {
    width: 175px;
    height: 51px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.form {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#rec1 .email,
#rec1 .password {
    width: 260px;
    height: 36px;
    margin: 5px 0;
    border: 1.5px solid #CCC;
    padding-left: 10px;
    background: rgba(204, 204, 204, 0.15);
    font-family: "Segoe UI";
    letter-spacing: 0.16px;
}

.submit {
    width: 260px;
    height: 36px;
    justify-content: center;
    border: 0 solid #4192EF;
    border-radius: 6px;
    background: #4192EF;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

#rec1 .-or- {
    width: 350px;
    margin-top: 280px;
    justify-content: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#rec1 .line1,
#rec1 .line2 {
    border: 1px solid #ccc;
}

#rec1 .line1 {
    margin-left: 45px;
    float: left;
    width: 30%;
}

#rec1 .line2 {
    margin-right: 45px;
    float: right;
    width: 30%;
}

#rec1 .or {
    margin-top: -9px;
    text-align: center;
    width: 100%;
    font-family: "Segoe UI";
    font-size: 13px;
    color: #ccc;
    letter-spacing: 0.16px;
}

.logo-facebook {
    width: 25px;
    height: 25px;
    display: flex;
    margin: 60px auto 0 auto;
}

#rec1 .forgot-pwd {
    width: 100%;
    margin-top: 360px;
    border: none;
    justify-content: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #00376B;
    font-size: 12px;
}

.dont-have-acc {
    padding-left: 55px;
    font-family: "Segoe UI";
    letter-spacing: 0.16px;
    line-height: 60px;
}

#rec2 .signup {
    padding: 12px;
    text-align: left;
    color: #385185;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.16px;
    text-decoration: none;
}