#sidebar-left {
    width: 300px;
    height: 100vh;
    position: fixed;
    border-right: 1.5px solid #ccc;
    font-size: 18px;
}

#sidebar-left .logo {
    width: 170px;
    padding: 20px;
    margin: 10px 20px;
}

#sidebar-left .sidebar-left-icon {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

#sidebar-left .icon {
    display: flex;
    align-items: center;
    padding: 10px;
}

#sidebar-left .sidebar-left-icon .icon img,
#sidebar-left .sidebar-left-icon .icon .Avatar {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#sidebar-left .sidebar-left-icon .icon:hover {
    background-color: #efefef;
    border-radius: 9px;
    cursor: pointer;
}

h4 {
    font-size: 16px;
}

p {
    font-weight: 600;
    font-size: 16px;
}

