.row1 {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 500px;
    margin-top: 40px;
}

.profileUsername {
    font-size: 20px;
    font-weight: 400;
    margin-left: 70px;
}

.editProfile {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #dcdcdc;
    font-weight: 500;
    border-radius: 10px;
    margin-left: auto;
}

.logout {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #dcdcdc;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.row2 {
    display: flex; 
    flex-direction: row; 
    margin-top: 20px;
}

.posts, .followers, .following {
    font-weight: 400;
    margin-left: auto;
}

.posts {
    margin-left: 70px;
}

.profileBio {
    margin-left: 70px;
    margin-top: 20px;
    font-weight: 400;
}