#main {
    width: 100%;
}

#postDetailContent {
    max-width: 935px;
    height: 600px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.postDetailImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    object-fit: cover;
    position: absolute;
    top: 0%;
    position: relative;
}

.postDetailAvatar {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 100px;
    margin-left: 20px;
}

.postDetailUsername {
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
}

.postDetail-footer {
    width: 335px;
    height: 160px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
}

.postDetail-react {
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
}

.heart,
.comment,
.share {
    width: 35px;
    margin: 0 10px 0 0;
}

.save {
    width: 35px;
    float: right;
}

.options-menu {
    width: 170px;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .option {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }