.post {
    width: 500px;
    border-bottom: 1px solid #ccc;
}

.post-header {
    width: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.post-header .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 10px 10px 10px 0;
    z-index: -1;
}

.image {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.post-header .username,
.post-header .dot,
.post-header .time {
    margin-top: 10px;
    margin-left: 10px;
    line-height: 50px;
    z-index: -1;
}

.post-header .username {
    font-weight: 600;
}

.post-header .more {
    margin-left: auto;
    cursor: pointer;
}

.post-footer {
    margin-top: 10px;
}

.react {
    width: 500px;
}

.heart,
.comment,
.share {
    width: 35px;
    margin: 0 10px 0 0;
}

.heart {
    width: 50px;
}

.save {
    width: 35px;
    float: right;
}

.caption-user {
    width: 500px;
    display: flex;
    margin-bottom: 20px;
}

#post .caption .user-caption {
    margin-left: 10px;
}

.post-header .options-menu {
    width: 170px;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .option {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  