.edit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền có độ mờ 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Z-index cao hơn so với các thành phần khác trên trang */
  }
  
  #editPost {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1001; /* Z-index cao hơn overlay */
    max-width: 820px;
    width: 100%;
  }
  
  .editPostHeader {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .editPostContent {
    display: flex;
    flex-direction: row;
  }
  
  .editImage {
    width: 476px;
    height: 476px;
    object-fit: cover;
    border-radius: 0 0 0 20px;
  }
  
  .editAvatar {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 100px;
    margin-left: 20px;
    object-fit: cover;
  }
  
  .editUsername {
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .postContent {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    margin-top: 10px;
  }
  